@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Shippori+Mincho&family=Zen+Old+Mincho&display=swap");
@import "tailwindcss";

@layer components {
  .roboto-mono {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
  font-style: normal; */
  }
  .noto-serif-jp {
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
  font-style: normal; */
  }
  .noto-sans-jp {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
    font-style: normal; */
  }
  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>;
  font-style: normal; */
  }
  .zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    /* font-weight: 400;
  font-style: normal; */
  }
  .shippori-mincho-regular {
    font-family: "Shippori Mincho", serif;
    /* font-weight: 400;
    font-style: normal; */
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sakura-rotation {
  animation: rotate 10s linear infinite;
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0deg) translateY(0);
  }
  25% {
    transform: rotate(-15deg) translateY(-5px);
  }
  75% {
    transform: rotate(15deg) translateY(-5px);
  }
}

.ku-dance {
  animation: dance 1s ease-in-out infinite;
}